{% extends 'default.html' %}

{% load own_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Объявления</h1>
    <div>
        <form action="" method="get">
            <div class="form-group">
            {{ filterset.form.as_p }}
            </div>
            <button type="submit" value="Отобразить" />
        </form>
    </div>
    {% if posts %}
        <table class="table table-bordered table-hover">
           <tr>
               <th><h3>Название</h3></th>
               <th><h3>Дата публикации статьи</h3></th>
               <th><h3>Описание</h3></th>
               <th><h3>Количество комментариев</h3></th>
           </tr>

           {% for p in posts %}
           <tr>
               <td><p><a href="{{ p.pk }}"><li>{{ p.title }}</li></a></p></td>
               <td><p>{{ p.dateCreation|date:'d.m.Y H:i' }}</p></td>
               <td><p>{{ p.content|safe|truncatewords:30 }}</p><hr><p>{{ p.linkedAuthor.user.username }}</p></td>
               <td><p>{{ p.linkedComments.count }}</p></td>
           </tr>
           {% endfor %}
        </table>
   {% else %}
       <h2> "Объявлений нет!" </h2>
   {% endif %}
{% endblock content %}
