{% extends 'default.html' %}

{% load own_tags %}

{% block title %}
Private Posts
{% endblock title %}

{% block content %}
<h1>Мои объявления</h1>
    <div>
        <form action="" method="get">
            {{ filterset.form.as_p }}
            <input type="submit" value="Отобразить" />
        </form>
    </div>
    {% if posts %}
        <table>
           <tr>
               <th><h3>Название</h3></th>
               <th><h3>Дата публикации статьи</h3></th>
               <th><h3>Количество комментариев</h3></th>
           </tr>

           {% for p in posts %}
           <tr>
               <td><p><a href="{% url 'private_post' p.pk %}"><li>{{ p.title }}</li></a></p></td>
               <td><p>{{ p.dateCreation|date:'d.m.Y H:i' }}</p></td>
               <td><p>{{ p.linkedComments.count }}</p></td>
           </tr>
           {% endfor %}
        </table>
   {% else %}
       <h2> "Объявлений нет!" </h2>
   {% endif %}
{% endblock content %}
