{% extends 'default.html' %}

{% block title %}
Private Post
{% endblock title %}

{% block content %}
<div>
    <h1>{{ post.title }}</h1>
    <h4>Дата публикации: {{ post.dateCreation|date:'d.m.Y H:i' }}</h4>
    {% if post %}
        <p>
            {{post.content|safe}}
        </p>
        {% if user == post.linkedAuthor.user %}
            <ul>
                <li><a href="{% url 'post_update' pk=post.id %}">Редактировать</a></li>
                <li><a href="{% url 'post_delete' pk=post.id %}">Удалить</a></li>
            </ul>
        {% endif %}
        <hr>
        <h3>Комментарии:</h3>
        {% if comments %}
            {% for c in comments %}
                <div>
                    <strong>{{ c.linkedUser.username }}</strong>&nbsp;{{ c.dateCreation|date:'d.m.Y H:i' }}
                    {% if not c.is_deleted %}
                        <div>
                            {{ c.commentText }}
                            <div>
                                {% if c.acceptedBy == null %}
                                    {% if user != c.linkedUser %}
                                        <a href="{% url 'comment_accept' pk=c.id %}?pk={{ c.id }}">принять</a>
                                    {% endif %}
                                    {% if user == post.linkedAuthor.user %}
                                        <a href="{% url 'comment_delete' pk=c.id %}">удалить</a>
                                    {% endif %}
                                {% else %}
                                    <i>комментарий принят</i>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            ...комментарий удалён...
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>потерялась...</p>
    {% endif %}
</div>

{% endblock content %}