{% load static %}
{% load own_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <aside>
         <ul>
             <li><a href="{% url 'home' %}">Главная</a></li>
             {% if user.is_authenticated %}
                <li><a href="{% url 'post_create' %}">Добавить объявление</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
                <li><a href="{% url 'private' %}">Профиль {{ user }}</a></li>
             {% else %}
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'signup' %}">Регистрация</a></li>
             {% endif %}

         </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock content %}

        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number > 2 %}
                ...
            {% endif %}
            {% if page_obj.previous_page_number > 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% endif %}
            {% if page_obj.next_page_number < page_obj.paginator.num_pages|add:-1 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    </main>
</body>
</html>